<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ggolda.android_tab_chess">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="ca.ggolda.android_tab_chess.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="ca.ggolda.android_tab_chess.LobbyActivity" android:screenOrientation="portrait"/>

        <activity android:name="ca.ggolda.android_tab_chess.ResetPasswordActivity" android:screenOrientation="portrait"/>

        <activity android:name="ca.ggolda.android_tab_chess.SignupActivity" android:screenOrientation="portrait"/>

        <activity android:name="ca.ggolda.android_tab_chess.BoardActivity" android:screenOrientation="portrait"/>

    </application>

</manifest>
